body {
    font-family: Arial, sans-serif;
    background-image: url("pizza.jpg");
}

h1 {
    text-align: center;
}

#orderForm {
    border: 4px solid lightyellow;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    box-shadow: 10px 10px 5px #999999;
}

body {
    color: black;
}