body {
    font-family: Arial;
}

p {
    font-size: 5.5em;
}

.eye {
    background-color: black;
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.arm {
    background-color: black;
    position: absolute;
    top: 35%;
    width: 5%;
    height: 40%;
}

#head {
    width: 30%;
    height: 30%;
    border-radius: 15%;
    background-color: gray;
    position: absolute;
    left: 33%;
    top: 15%;
}

#righteye {
    position: absolute;
    left: 35%;
    top: 20%;
}

#lefteye {
    position: absolute;
    left: 60%;
    top: 20%;
}

#nose {
    position: absolute;
    left: 45%;
    top: 50%;
    width: 10%;
    height: 10%;
    background-color: black;
}

#mouth {
    position: absolute;
    width: 65%;
    height: 15%;
    left: 30%;
    top: 70%;
    background-color: red;
}

#body {
    position: absolute;
    left: 25%;
    top: 35%;
    width: 45%;
    height: 55%;
    background-color: purple;
    text-align: center;
    padding-top: 30px;
}

#rightarm {
    position: absolute;
    left: 70%;
    width: 27%;
    height: 10%;
}

#leftarm {
    position: absolute;
    left: 30%;
    width: 27%;
    height: 20%;
}

#leftear {
    width: 3%;
    height: 8%;
    border-radius: 10%;
    background-color: brown;
    position: absolute;
    left: 30%;
    top: 15%;
}

#rightear {
    width: 3%;
    height: 8%;
    border-radius: 10%;
    background-color: brown;
    position: absolute;
    left: 63%;
    top: 15%;
}